DATABASE_URL=
AWS_S3_ENDPOINT_URL
AWS_ACCESS_KEY_ID
AWS_SECRET_ACCESS_KEY
AWS_STORAGE_BUCKET_NAME
AWS_S3_REGION_NAME
IS_SEND_SMS
VERIFY_PATTERN
FORGET_PASSWORD_PATTERN
PANEL_SMS_URL
PANEL_SMS_USER
PANEL_SMS_PASS
COMMERCE_CHECKOUT_V2_ENABLED=False
FINANCIAL_ZARINPAL_ENABLED=
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=
ZARINPAL_REQUEST_URL=
ZARINPAL_VERIFY_URL=
ZARINPAL_STARTPAY_URL=
ZARINPAL_CONNECT_TIMEOUT_SECONDS=
ZARINPAL_READ_TIMEOUT_SECONDS=
FINANCIAL_PROVIDER_CALLBACK_BASE_URL=
DIGITAL_PAYMENT_CUSTOMER_RETURN_BASE_URL=
FINANCIAL_ZARINPAL_ACCOUNT_KEY=
FINANCIAL_ZARINPAL_OWNER_KEY=
FINANCIAL_ZARINPAL_AUTHORITY_EXPIRY_SECONDS=
FINANCIAL_ZARINPAL_FINALITY_WINDOW_SECONDS=
