DATABASE_URL=
CHEATSGAME_BOOTSTRAP_ADMIN_PHONE=
CHEATSGAME_BOOTSTRAP_ADMIN_FIRST_NAME=
CHEATSGAME_BOOTSTRAP_ADMIN_LAST_NAME=
CHEATSGAME_BOOTSTRAP_ADMIN_PASSWORD=
SECRET_KEY=
JWT_SIGNING_KEY=
ALLOWED_HOSTS=
CORS_ALLOWED_ORIGINS=
CSRF_TRUSTED_ORIGINS=
CHEATSGAME_RUNTIME_ENVIRONMENT=
FINANCIAL_CERTIFICATION_PROVIDER_ENABLED=False
FINANCIAL_CERTIFICATION_SECRET=
FINANCIAL_CERTIFICATION_ALLOWED_HOSTS=
FINANCIAL_CERTIFICATION_ACCOUNT_KEY=staging-certification
FINANCIAL_CERTIFICATION_OWNER_KEY=cheats-game-staging
AWS_S3_ENDPOINT_URL=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_STORAGE_BUCKET_NAME=
AWS_S3_REGION_NAME=
AWS_S3_CUSTOM_DOMAIN=
AWS_STORAGE_ENVIRONMENT=
IS_SEND_SMS=
VERIFY_PATTERN=
FORGET_PASSWORD_PATTERN=
PANEL_SMS_URL=
PANEL_SMS_API_KEY=
PANEL_SMS_FROM=
PANEL_SMS_PATTERN_VARIABLE=
COMMERCE_CHECKOUT_V2_ENABLED=False
PAYMENT_GATEWAY_PROVIDER=
FINANCIAL_ZARINPAL_ENABLED=
ZARINPAL_MERCHANT_ID=
ZARINPAL_SANDBOX=
ZARINPAL_REQUEST_URL=
ZARINPAL_VERIFY_URL=
ZARINPAL_STARTPAY_URL=
ZARINPAL_CONNECT_TIMEOUT_SECONDS=
ZARINPAL_READ_TIMEOUT_SECONDS=
FINANCIAL_PROVIDER_CALLBACK_BASE_URL=
DIGITAL_PAYMENT_CUSTOMER_RETURN_BASE_URL=
FINANCIAL_ZARINPAL_ACCOUNT_KEY=
FINANCIAL_ZARINPAL_OWNER_KEY=
FINANCIAL_ZARINPAL_AUTHORITY_EXPIRY_SECONDS=
FINANCIAL_ZARINPAL_FINALITY_WINDOW_SECONDS=
