Django==5.2.16
django-environ==0.14.0
psycopg2-binary==2.9.12
djangorestframework==3.16.1

celery==5.6.3
django-celery-results==2.6.0
django-celery-beat==2.9.0

whitenoise==6.12.0
django-js-asset==4.0.1
django-mptt==0.18.0
django-filter==25.2
django-extensions==4.1
django-cors-headers==4.9.0
django-storages==1.14.6

boto3==1.43.67
Pillow==12.3.0
bleach==6.4.0
attrs==26.1.0

djangorestframework-simplejwt==5.5.1
drf-spectacular==0.30.0

django-redis==6.0.0
gunicorn==25.1.0
sentry-sdk==2.66.1
pyotp==2.10.0
requests[security]==2.34.2
